@font-face 
{
	font-family: 'SymbolSignsBasisset';
	src: url('../fonts/calendar-month/symbol-signs-webfont.eot');
	src: url('../fonts/calendar-month/symbol-signs-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/calendar-month/symbol-signs-webfont.woff') format('woff'),
		 url('../fonts/calendar-month/symbol-signs-webfont.ttf') format('truetype'),
		 url('../fonts/calendar-month/symbol-signs-webfont.svg#SymbolSignsBasisset') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face 
{
	font-family: 'QikkiRegRegular';
	src: url('../fonts/Qarmic_sans_Abridged-webfont.eot');
	src: url('../fonts/Qarmic_sans_Abridged-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Qarmic_sans_Abridged-webfont.woff') format('woff'),
		 url('../fonts/Qarmic_sans_Abridged-webfont.ttf') format('truetype'),
		 url('../fonts/Qarmic_sans_Abridged-webfont.svg#QikkiRegRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Calendar Styling */

#cal-container
{
	margin: 230px 0 0 300px;
}

#month-sept
{
	font-size: 28pt;
	font-family: QikkiRegRegular;
	margin-left: 210px;
	padding-bottom: 10px;
}

#month
{
	font-size: 28pt;
	font-family: QikkiRegRegular;
	margin-left: 300px;
	padding-bottom: 10px;
}

#calendar
{
	border-collapse: collapse;
	width: 840px;
	border: 1px solid #333333;
}

#weekdays
{
	height: 30px;
	width: 110px;
}

#days
{
	vertical-align: top;
	height: 130px;
	width: 120px;
	empty-cells: show;
}

#emptydays
{
	vertical-align: top;
	background-color:#CED8B1;
	color: #000000;
	height: 110px;
	width: 110px;
}

#weekdays, #days, #emptydays
{
	border-collapse: collapse;
	border: 1px solid #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font: bold;
}

.events{
	color: #ff00ff;
}
.one-day {
	color: #990000;
}
.extended {
	color: #006600;
}
.series {
	color: #003399;
}

#hosted
{
	height: 13px;
	width: 120px;
	color: #663300;
	text-align: center;
	font-size: 10px;
	margin-bottom: 5px;
}

#cal-bottom
{
	width: 800px;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.cal-events
{
	text-decoration: none;
	font-size: 10px;
}

a.cal-events:hover
{
	text-decoration: underline;
}

/* Popup Events Styling */

#events
{
	text-align: center;
}

#events-header
{
	font-family: QikkiRegRegular;
	font-size: 18pt;
	text-decoration: underline;
}

#events-header-info
{
	font-family: QikkiRegRegular;
	font-size: 14pt;
}

#events-content
{
	font-family: TypoSlabserifLightRegular;
	font-size: 14pt;	
	width: 560px;
	height: auto;
	text-align: center;
	margin: 30px auto;
	padding-bottom:30px;
}

#events-series-bg
{
	background-color: #B3D9FF;
	width:100%;
}

#events-one-bg
{
	background-color: #f6ab96;
}

#events-bg
{
	background-color: #A172FE;
}

#events-img-advent, #events-img-festival, #events-img-cpweekend, #events-img-bound, #events-img-disc, #events-img-expect, #events-img-new, #events-img-oa, #events-img-color, #events-img-thom, #events-img-wellness, #events-img-alleluia, #events-img-vespers, #events-img-xmas, #events-img-journey, #events-img-communication, #events-img-cross, #events-img-united, #events-img-livingThrough, #events-img-silentRe, #events-img-artSacred, #events-img-eightDayPost, #events-img-heartPrints, #events-img-holyWeek, #events-img-mensOnly, #events-img-threeGraces, #events-img-nativeAmerican, #events-img-imageImagination, #events-img-adventRenewal, #events-img-crones, #events-img-reaching, #events-img-vatican, #events-img-contemplative, #events-img-sophia, #events-img-school, #events-img-newEvangelization, #events-img-wrestling, #events-img-writing, #events-img-celticSpirituality, #events-img-holySpirit, #events-img-eightDayInt, .eventsIMG
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -300px;
}

#events-img-festival
{
	width: 862px;
	height: 562px;
	margin-top: -281px;
	margin-left: -431px;
}

#events-img-cpgroup
{
	height: 474px;
	margin-top: -237px;
}

#events-img-cpintro
{
	width: 600px;
	height: 390px;
	margin-top: -195px;
	margin-left: -300px;	
}

#events-img-cpweekend
{
	width: 550px;
	height: 550px;
	margin-top: -275px;
	margin-left: -275px;
}

#events-img-bound
{
	width: 568px;
	height: 456px;
	margin-top: -228px;
	margin-left: -284px;
}

#events-img-disc
{
	width: 584px;
	height: 536px;
	margin-top: -268px;
	margin-left: -292px;
}

#events-img-expect
{
	width: 600px;
	height: 555px;
	margin-top: -260px;
	margin-left: -300px;
}

#events-img-lab
{
	height: 339px;
	margin-top: -169px;
}

#events-img-oa
{
	width: 572px;
	height: 486px;
	margin-top: -243px;
	margin-left: -286px;
}

#events-img-color
{
	width: 600px;
	height: 536px;
	margin-top: -250px;
	margin-left: -300px;	
}

#events-img-thom
{
	width: 596px;
	height: 474px;
	margin-top: -237px;
	margin-left: -298px;
}

#events-img-wellness
{
	width: 600px;
	height: 424px;
	margin-top: -212px;
	margin-left: -300px;
}

#events-img-alleluia
{
	width: 566px;
	height: 396px;
	margin-top: -198px;
	margin-left: -283px;
}

#events-img-xmas
{
	width: 596px;
	height: 630px;
	margin-top: -315px;
	margin-left: -298px;
}

#events-img-vespers
{
	width: 460px;
	height: 630px;
	margin-top: -315px;
	margin-left: -230px;
}

#events-img-journey
{
	width: 492px;
	height: 500px;
	margin-top: -250px;
	margin-left: -246px;
}

#events-img-communication
{
	width: 600px;
	height: 482px;
	margin-top: -241px;
	margin-left: -300px;
}

#events-img-cross
{
	width: 624px;
	height: 464px;
	margin-top: -232px;
	margin-left: -312px;
}

#events-img-united
{
	width: 670px;
	height: 488px;
	margin-top: -244px;
	margin-left: -335px;
}

#events-img-livingThrough
{
	width: 650px;
	height: 564px;
	margin-top: -282px;
	margin-left: -325px;
}

#events-img-silentRe
{
	width: 624px;
	height: 554px;
	margin-top: -272px;
	margin-left: -312px;
}

#events-img-silentSat
{
	height: 343px;
	margin-top: -210px;
}

#events-img-artSacred
{
	width: 650px;
	height: 464px;
	margin-top: -232px;
	margin-left: -325px;
}

#events-img-eightDayPost
{
	width: 600px;
	height: 1070px;
	margin-top: -271px;
	margin-left: -315px;
}

#events-img-eightDayDir
{
	height: 531px;
	margin-top: -240px;
}

#events-img-eightDayDir2
{
	height: 518px;
	margin-top: -259px;
}

#events-img-heartPrints
{
	width: 600px;
	height: 500px;
	margin-top: -250px;
	margin-left: -300px;
}

#events-img-holyWeek
{
	height: 520px;
	margin-top: -240px;
}

#events-img-mensOnly
{
	width: 634px;
	height: 534px;
	margin-top: -267px;
	margin-left: -317px;
}

#events-img-threeGraces
{
	width: 637px;
	height: 490px;
	margin-top: -245px;
	margin-left: -318px;
}

#events-img-nativeAmerican
{
	width: 600px;
	height: 522px;
	margin-top: -241px;
	margin-left: -300px;
}

#events-img-imageImagination
{
	width: 600px;
	height: 475px;
	margin-top: -220px;
	margin-left: -300px;
}

#events-img-adventRenewal
{
	width: 600px;
	height: 429px;
	margin-top: -214px;
	margin-left: -300px;
}

#events-img-crones
{
	width: 650px;
	height: 463px;
	margin-top: -231px;
	margin-left: -325px;
}


#events-img-reaching
{
	width: 600px;
	height: 702px;
	margin-top: -300px;
	margin-left: -300px;
}

#events-img-vatican
{
	width: 600px;
	height: 494px;
	margin-top: -247px;
	margin-left: -300px;
}

#events-img-sophia
{
	width: 600px;
	height: 406px;
	margin-top: -203px;
	margin-left: -300px;
}

#events-img-contemplative
{
	width: 600px;
	height: 430px;
	margin-top: -215px;
	margin-left: -300px;
}

#events-img-school
{
	width: 600px;
	height: 504px;
	margin-top: -252px;
	margin-left: -300px;
}

#events-img-newEvangelization
{
	width: 600px;
	height: 504px;
	margin-top: -202px;
	margin-left: -300px;
}

#events-img-wrestling
{
	width: 600px;
	height: 520px;
	margin-top: -240px;
	margin-left: -300px;
}

#events-img-writing
{
	width: 600px;
	height: 484px;
	margin-top: -242px;
	margin-left: -300px;
}

#events-img-celticSpirituality
{
	width: 600px;
	height: 486px;
	margin-top: -243px;
	margin-left: -300px;
}

#events-img-holySpirit
{
	width: 600px;
	height: 470px;
	margin-top: -235px;
	margin-left: -300px;
}

#events-img-wawSummer
{
	width: 600px;
	height: 490px;
	margin-top: -235px;
	margin-left: -300px;
}

.events-img{
	width:600px;
	margin-left:-300px;
}

#events-img-sabbath{
	height:502px;
	margin-top:-251px;
}

#events-img-beFit{
	height:501px;
	margin-top:-250px;
}

#events-img-monthlywomen{
	height:552px;
	margin-top:-246px;
}

#events-img-peaceday{
	height:792px;
	margin-top:-396px;
}

#events-img-herbal{
	width:600px;
	height:443px;
	margin-top:-220px;
	margin-left:-300px;
}

#events-img-advent{
	height: 463px;
	margin-top: -220px;
}

#events-img-jesseTree{
	height: 470px;
	margin-top: -235px;
}

#events-img-new
{
	height: 462px;
	margin-top: -220px;
}

#events-img-marian{
	height:619px;
	margin-top:-304px;
}

#events-img-encounteringGod{
	height:558px;
	margin-top:-259px;
}

#events-img-simplicity{
	height:442px;
	margin-top:-200px;
}

#events-img-imagodei{
	height:436px;
	margin-top:-200px;
}

#events-img-sealedBySpirit{
	height:436px;
	margin-top:-200px;
}

#events-img-speakingTongues{
	height:512px;
	margin-top:-206px;
}

#events-img-eightDayInt{
	height: 452px;
	margin-top: -200px;
}

#events-img-communityday{
	height: 443px;
	margin-top: -221px;
}



body.womantowoman{
	width: 100%;
	background: url(../img/events/2014/textures/linen.png) repeat #baaaca;
	text-align: center;
}

#events-img-womantowoman{
	height:432px;
	margin-top:-216px;
	margin-left: -270px;
}

#events-img-womantowoman .content{
	width: 540px;
	font-family: 'Lato', Arial, Helvetica;
	font-size: 18px;
	line-height: 20px;
	color: #ffe5a4;
	font-weight: 300;
}

#events-img-womantowoman h1{
	font-size: 40px;
	line-height: 35px;
	color: #ffe5a4;
	margin-bottom: 20px;
}

#events-img-womantowoman h1 span{
	font-size: 25px;
}

#events-img-womantowoman h2{
	font-size: 25px;
	line-height: 30px;
	color: #FFFFFF;
}

#events-img-womantowoman h2 span{
	font-size: 18px;
}

#events-img-sitlikeamountain{
	height:500px;
	margin-top:-230px;
}

#events-img-sacredCollage{
	height: 446px;
	margin-top: -203px;
}

#events-img-waw{
	height:422px;
	margin-top:-190px;
}

#events-img-bridges{
	height:692px;
	margin-top:-226px;
}

#events-img-yoga{
	height:446px;
	margin-top:-195px;
}

#events-img-triduum{
	height: 488px;
	margin-top: -224px;
}

#events-img-wawSummer{
	height: 508px;
	margin-top: -234px;
}

#events-img-gospelJohn{
	height: 524px;
	margin-top: -252px;
}

#events-img-exercisingFaith{
	height: 457px;
	margin-top: -229px;
}

#events-img-paceebene{
	height: 518px;
	margin-top: -239px;
}

#events-img-optimalWellness{
	height: 538px;
	margin-top: -239px;
}

#events-img-pathofmercy{
	height: 563px;
	margin-top: -230px;
}

#events-img-reedofgod{
	height: 539px;
	margin-top: -239px;
}

#events-img-breathe{
	height: 468px;
	margin-top: -210px;
}

#events-img-teachingheart{
	height: 462px;
	margin-top: -210px;
}

#events-img-tao{
	height: 456px;
	margin-top: -200px;
}

#events-img-darknight{
	height: 452px;
	margin-top: -200px;
}






/* Fall Festival Styles */

body.fallFestival{
	width: 100%;
	background: url(../img/events/2014/textures/festival_press_release_bg.jpg) repeat #ffffff;
	text-align: center;
}

#events-img-fallfestival{
	height:auto;
	top:0px;
	margin-left: -270px;
}

#events-img-fallfestival .content{
	width: 540px;
	font-family: 'Oxygen', Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	font-weight: 300;
	text-align: left;
}

#events-img-fallfestival .content a{
	color: #6C432F;
	text-decoration: underline;
}

#events-img-fallfestival h1{
	font-family: 'Montez', Georgia, Helvetica;
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 20px;
	text-align: center;
}


/* Woman to Woman Styles */
body.womantowoman{
	width: 100%;
	background: url(../img/events/2014/textures/linen.png) repeat #baaaca;
	text-align: center;
}

#events-img-womantowoman{
	height:432px;
	margin-top:-216px;
	margin-left: -270px;
}

#events-img-womantowoman .content{
	width: 540px;
	font-family: 'Lato', Arial, Helvetica;
	font-size: 18px;
	line-height: 20px;
	color: #ffe5a4;
	font-weight: 300;
}

#events-img-womantowoman h1{
	font-size: 40px;
	line-height: 35px;
	color: #ffe5a4;
	margin-bottom: 20px;
}

#events-img-womantowoman h1 span{
	font-size: 25px;
}

#events-img-womantowoman h2{
	font-size: 25px;
	line-height: 30px;
	color: #FFFFFF;
}

#events-img-womantowoman h2 span{
	font-size: 18px;
}

/* Centering Prayer Styles*/
body.cp-continuation,
body.cp-weekend{
	width: 100%;
	background: url(../img/events/2014/textures/diagonal_beige.jpg) repeat;
	text-align: center;
}

#events-img-cp-cont{
	height:500px;
	margin-top:-190px;
	margin-left: -270px;
}

#events-img-cp-cont .content,
#events-img-cp-weekend .content{
	width: 540px;
	font-family: 'Marcellus', Arial, Helvetica;
	font-size: 18px;
	line-height: 20px;
	color: #123456;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 10px;
}

#events-img-cp-weekend .content a{
	position: static;
	margin: 0 auto;
}

#events-img-cp-cont h1,
#events-img-cp-weekend h1{
	font-size: 35px;
	line-height: 35px;
	color: #FF001A;
	margin-bottom: 20px;
}

#events-img-cp-weekend h1{
	color: #1514F4;
}

#events-img-cp-cont h1 span,
#events-img-cp-weekend h1 span{
	font-size: 20px;
	color: #000000;
}

#events-img-cp-cont h2,
#events-img-cp-weekend h2{
	font-size: 25px;
	line-height: 30px;
	color: #111111;
}

#events-img-cp-cont h2 span,
#events-img-cp-weekend h2 span{
	font-size: 18px;
}

/* Native American Styles*/
body.native-american{
	width: 100%;
	background: url(../img/events/2014/textures/bricks.jpg) repeat;
	text-align: center;
}

/*#events-img-native-american{
	height:500px;
	margin-top:-190px;
	margin-left: -270px;
}*/

#events-img-native-american .content{
	width: 540px;
	font-family: 'Cabin', Arial, Helvetica;
	font-size: 18px;
	line-height: 20px;
	color: #402A27;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 10px;
}

#events-img-native-american .content a{
	position: static;
	margin: 0 auto;
}

#events-img-native-american h1{
	font-size: 35px;
	line-height: 35px;
	color: #386031;
	margin-bottom: 20px;
}

#events-img-native-american h1 span{
	font-size: 20px;
}

#events-img-native-american h2{
	font-size: 25px;
	line-height: 30px;
	color: #111111;
}

#events-img-native-american h2 span{
	font-size: 18px;
}

/* Holiday Herbal Styles*/
body.holiday-herbal{
	width: 100%;
	background: url(../img/events/2014/textures/potato_sack.jpg) repeat;
	text-align: center;
}

/*#events-img-native-american{
	height:500px;
	margin-top:-190px;
	margin-left: -270px;
}*/

#events-img-holiday-herbal .content{
	width: 540px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #402A27;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 10px;
}

#events-img-holiday-herbal .content a{
	position: static;
	margin: 0 auto;
}

#events-img-holiday-herbal h1{
	font-size: 35px;
	line-height: 35px;
	color: #386031;
	margin-bottom: 20px;
}

#events-img-holiday-herbal h1 span{
	font-size: 20px;
}

#events-img-holiday-herbal h2{
	font-size: 25px;
	line-height: 30px;
	color: #111111;
}

#events-img-holiday-herbal h2 span{
	font-size: 18px;
}

/* Silent Saturday Styles*/
body.silentSaturday{
	width: 100%;
	background: url(../img/events/2014/textures/linen_yellow.png) repeat;
	text-align: center;
}

#events-img-silentSaturday{
	/*height:500px;
	margin-top:-190px;
	margin-left: -270px;*/
	top: 30px;
}

#events-img-silentSaturday .content{
	width: 540px;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #463709;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 10px;
}

#events-img-silentSaturday .content a{
	position: static;
	margin: 0 auto;
}

#events-img-silentSaturday h1{
	font-size: 35px;
	line-height: 35px;
	color: #4a2170;
	margin-bottom: 20px;
}

#events-img-silentSaturday h1 span{
	font-size: 20px;
}

#events-img-silentSaturday h2{
	font-size: 25px;
	line-height: 30px;
	color: #111111;
}

#events-img-silentSaturday h2 span{
	font-size: 18px;
}