/* ADT Retreat Styles */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
.adt {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 27px;
}
.adt .dates {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 35px;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .adt .dates {
    font-size: 17px;
  }
}
.adt .title {
  font-size: 40px;
  line-height: 45px;
  text-align: center;
}
.adt .title span {
  font-size: 30px;
  line-height: 35px;
}
.adt .presenters {
  text-align: center;
}
