/* ADT Retreat Styles */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

.adt {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	line-height: 27px;

	.dates {
		position: absolute;
		z-index: 1;
		top: 10%;
		left: 35px;
		font-size: 20px;
		line-height: 25px;
		font-weight: bold;

		@media (max-width: 500px) {
			font-size: 17px;
		}
	}

	.title {
		font-size: 40px;
		line-height: 45px;
		text-align: center;

		span {
			font-size: 30px;
			line-height: 35px;
		}
	}

	.presenters {
		text-align: center;
	}
}

